* {
	margin: 0;
	padding: 0;
}
body {
    margin-top: -75px;
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(rgba(0.5, 0, 0, 0.5), rgba(0.5, 0, 0, 0.5)),url("../images/bg2.png");
	height: 95vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;	
}
.wrapper {
	width: 1670px;
	margin: auto;
}
header {
	/* background: linear-gradient(rgba(0.5, 0, 0, 0.5), rgba(0.5, 0, 0, 0.5)),url(bg2.png);	
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center; */
	/* position: relative; */
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}	
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;	
}
.nav-area li a:active {
	border-bottom:5px solid #00fecb ; /* New line */
	color: yellow;   /* New line */  
}
.nav-area li a:hover {
	border-bottom:5px solid #00fecb ; /* New line */
	color: yellow;   /* New line */ 	
}
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 15% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
/*srinil*/

.container{
    left: 150px;
    top: 250px;
    width: 500px;
    height : 550px;
    background: #ffffff;
    margin: 4.5% auto;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
h3{
    text-align: center;
    margin-bottom: 40px;
    color: #777;
}
.container form{
    width: 350px;
    position: absolute;
    top: 50px;
    left: 75px;
    transition: 0.5s;
}
form input{
    width: 100%;
    padding:  10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
::placeholder{
    color: #999;
}
form button{
    width:  150px;
    height: 40px;
    margin: 25px 100px;
    background: linear-gradient(to right,#ff1050,#ffad06);
    opacity: 0.9;
    border-radius: 30px;
    border:0;
    outline : none;
    color: #fff;
    cursor: pointer;
}
.container button:hover{
    opacity: 1;
    color: black;
}
