{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bill.css' %}">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">
        </div>
        <ul class="nav-area">
            <li><a href="{% url 'list_items' %}">search</a></li>
<li><a href="{% url 'Add' %}">add</a></li>
<li><a href="{% url 'delete' %}">delete</a></li>
<li><a href="{% url 'report' %}">reports</a></li>
<li><a href="{% url 'createbill' %}">bill</a></li>
<li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
    </header>

   <div class="container">
    <table class="table">

    <tr>
        <td><br>NAME :</td>
        <td><br>{{queryset.name}}</td>

    </tr>
        <tr>
        <td><br>COMPANY :</td>
            <td><br>{{queryset.company}}</td>

            </tr><tr>
        <td><br>EXP DATE :</td>
        <td><br>{{queryset.exp_date}}</td>

        </tr><tr>

        <td><br>QTY SOLD :</td>
        <td><br>{{queryset.sell_quantity}}</td>


        </tr><tr>


        <td><br>AMOUNT :</td>
        <td><br>{{queryset.price}}<br></td>
        </tr><tr>
        <td><br><a href="{% url 'download' %}">download</a><br></td>


    </tr>



</table>
</div>

</body>
</html>
