{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bill create</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bill.css' %}">
</head>
<body>
    <header>
    <div class="wrapper">

    </div>
    </header>

   <div class="container">
    <table class="table">

    <tr>
        <td><br>NAME :</td>
        <td><br>{{queryset.name}}</td>

    </tr>
        <tr>
        <td><br>COMPANY :</td>
            <td><br>{{queryset.company}}</td>

            </tr><tr>
        <td><br>EXP DATE :</td>
        <td><br>{{queryset.exp_date}}</td>

        </tr><tr>

        <td><br>QTY SOLD :</td>
        <td><br>{{queryset.sell_quantity}}</td>


        </tr><tr>


        <td><br>AMOUNT :</td>
        <td><br>{{queryset.price}}<br></td>
        </tr><tr>
        <td><br><a href="{% url 'download_pdf' %}">download</a><br></td>


    </tr>



</table>
</div>

</body>
</html>
