{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to Create responsive Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">
        </div>

</div>
<div class="welcome-text">
        <h1>
ONE PLACE <span>MANAGEMENT</span></h1>
<a href="login/">login</a>
    </div>
</header>

</body>
</html>
