{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/email_reset_done.css' %}">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">
        </div>

    </div>
    </header>

   <div class="container">
       <h3>password has been reset </h3>
       <h3>you may login now</h3>
       <button type="submit"><a href="{% url 'login' %}">Login</a></button>
   </div>

</body>
</html>
