{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/register.css' %}">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">
        </div>

    </div>
    </header>

   <div class="container">
       <br>
       <h3>we've emailed you instructions for setting your password,if an account exists with email you entered you should receive them shortly

       <br><br>
       if you don't receive email make sure you input the correct address</h3>
   </div>

</body>
</html>
